registry=https://registry.npmjs.org
replace-registry-host=artifactory.1and1.org
legacy-peer-deps=true
@ionos-deploy-now:registry=https://npm.pkg.github.com
@typescript-eslint:registry=https://registry.npmjs.org
@eslint-community:registry=https://registry.npmjs.org
